name: 更新 sufu.site 子库

on:
  push:
    branches: [ master ]

jobs:
  Main:
    runs-on: ubuntu-latest
    steps:

      - name: 获取 sufu.site
        uses: actions/checkout@v3
        with:
          ref: master
          repository: sufuwang/sufu.site
          token: ${{ secrets.SUFUSITETOKEN }}
          path: ./sufu.site
      
      - name: 更新子库
        run: |
          cd sufu.site
          git submodule init
          git submodule update --remote
          # git config user.name github-actions
          # git config user.email github-actions@github.com
          git add .
          git commit -m "robot: 更新子库"
          git push