name: 更新 sufu.site 子库

on:
  push:
    branches: [ master ]

jobs:
  Main:
    runs-on: ubuntu-latest
    steps:
      - name: 获取 sufu.site
        uses: actions/checkout@v3
        with:
          ref: master
          repository: sufuwang/sufu.site
          token: ${{ secrets.SUFUSITETOKEN }}
          path: ./sufu.site

      - name: 获取 dist.sufu.site
        uses: actions/checkout@v3
        with:
          ref: master
          repository: sufuwang/dist.sufu.site
          token: ${{ secrets.SUFUSITETOKEN }}
          path: ./sufu.site/dist

      - name: 更新子库
        run: |
          cd sufu.site
          # git config user.name robot
          # git config user.email 1137120948@qq.com
          git add .
          git commit -m "robot: 更新子库"
          git push